.gradient {
    background-image: -webkit-linear-gradient(#b6c3758d, #eaeaea);
    // background-image: -webkit-linear-gradient(#b6c3758d, #352b2b);
}
    
.materials {
    height: 700px;
    background-image: url('materialbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
     
    .sectiondiv {
        width: 69%;
        height: 700px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        h1 {
           font-family: $testfont;
           font-size: 80px;
           color: rgb(165, 42, 42);
           transform: rotate(2deg);
           
            
        }

        form {
            padding-top: 2rem;
            width: 60%;
        }
    }
        
    