/*
@function set-text-color($color) {
    @if(lightness($color) > 70){
        @return rgb(50, 50, 50);
    }@else{
        @return rgb(255, 255, 255);
    }
}
*/
.maincont {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.switch, .btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}
.switch:hover, .btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #00bebe;
  color: rgb(0, 0, 0);
}

.btn-secondary {
  background-color: burlywood;
  color: aliceblue;
}

.switch {
  background-color: dimgray;
  color: peachpuff;
}

nav a {
  color: rgb(0, 0, 0);
}
nav a:hover {
  color: darkcyan;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.japan {
  color: rgb(165, 42, 42);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

header {
  background-image: url("https://szpeter0114.github.io/tengulearningproject/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .click:hover {
  cursor: pointer;
}
header .light {
  color: rgb(245, 198, 79);
  display: none;
}
header .light:hover {
  color: rgb(233, 233, 231);
}
header .dark {
  color: rgb(185, 228, 245);
  display: block;
}
header .dark:hover {
  color: rgb(40, 41, 42);
}
header nav {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-family: "Ubuntu", sans-serif;
  list-style: none;
  padding: 1.4rem;
}
header nav ul li:hover {
  color: darkcyan;
}
header .containercontent {
  display: flex;
  align-items: center;
}
header .containercontent p {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4;
  margin: 1rem 0;
}
header .containercontent h2 {
  font-family: "Bangers", cursive;
  font-size: 4.7rem;
}
header .containercontent img:hover {
  transform: rotate(2deg);
}

main .projects {
  height: 700px;
  background-color: rgb(248, 248, 255);
}
main .article1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main img {
  width: 14rem;
  height: 8.4rem;
  border-radius: 5% 5% 0% 0%;
}
main .gridcontainer {
  display: grid;
  grid-template-columns: repeat(2, 34.6%);
  row-gap: 0.7rem;
}
main .gridflex {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: end;
  position: relative;
  right: -140px;
}
main .itemitem {
  background-color: antiquewhite;
  width: 14rem;
  border-radius: 5% 5%;
  box-shadow: 0px 5px 1px black;
}
main .itemitem h1 {
  padding: 0rem 1rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}
main .itemitem:hover {
  box-shadow: 0px 5px 1px rgb(187, 17, 17);
  transform: scale(1.02);
}
main .item5 {
  width: 28.9rem;
}
main .textcontt h1 {
  color: rgb(100, 149, 237);
  letter-spacing: 5px;
  padding-bottom: 1.5rem;
}
main .textcontt p {
  font-family: "Ubuntu", sans-serif;
  max-width: 450px;
}
main .bigflexcont {
  display: flex;
  width: 430px;
  flex-direction: row;
  justify-content: space-between;
}
main .bigflexcont .awesome {
  color: rgb(236, 170, 77);
}
main .bigflexcont .flex-container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
main .bigflexcont .flex-container ul li {
  list-style-type: none;
  padding: 1rem 0;
}
main .bigflexcont .flex-container2 ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
main .bigflexcont .flex-container2 li {
  list-style-type: none;
  padding: 1rem 0;
}
main .gradient {
  background-image: -webkit-linear-gradient(rgba(182, 195, 117, 0.5529411765), #eaeaea);
}
main .gradient .materials {
  height: 700px;
  background-image: url("materialbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-image: url("https://szpeter0114.github.io/tengulearningproject/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=styles.css.map */