@import 'variables';
@import 'container';
@import 'buttons';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    list-style: none;
    font-family: $otherfont;
}

.japan{
    color: rgb(165, 42, 42);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

@import 'header';

main {
   @import 'projects';
   @import 'contact';
}

header {
  background-image: url("https://szpeter0114.github.io/tengulearningproject/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
